/* Navigation Styles 
============================= */

nav {
  @include clearfix;
  @include outer-container(90%);
  @include span-columns(12);
  margin-top: em(16px);
}

#nav__logo {
  @include span-columns(5);
  @include shift(1);
}

.nav__link {
  @include span-columns(2);
  text-align: right;
   a {
    border-bottom: 1px solid transparent;
    color: $light-black;
    font-family: $font-arizonia, $helvetica;
    font-size: em(28px);
    font-weight: bold;
    
    padding: 5px;
    &:hover {
      border-color: black;
      color: black;
    }
  }
}

