/* Navigation Styles 
============================= */
header {
  height: 70px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hasScrolled {
  background-color: #fff;
}

.nav-list {
  align-items: center;
  display: flex;
  font-family: $font-web-sec;
  justify-content: space-between;
  

  margin-top: 12px;
  margin-right: 0;
  
  @media(min-width: 640px) {
    font-size: 2em;
    width: 95%;
  }
}

.nav__link a {
  color: $light-black;
  border-bottom: 1px solid transparent;
  padding: 10px 10px;

  &:hover {
    color: black;
    border-color: black;
  }
}

.nav-right {
  display: flex;
  justify-content: space-between;
  margin-right: 0;

  @media(min-width: 640px) {
    width: 30%;
  }
}

#nav__logo {
  background-image: url('./img/C&B.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  flex: 1; 
  width: 60px;
  
  margin-right: auto;

  & a {
    padding: 25px 25px;
  }

  @media(min-width: 640px) {
    height: 45px;
    width: 100px;
  }
}












