/* Global Styles 
============================= */
body {
  color: $light-black;
}

a, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

ul {
  margin-top: 0;
}

li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}
