// Fonts
$font-web: 'Dancing Script';
$font-web-sec: 'Arizonia';

// Font Colors
$light-black: lighten(black, 30%);

// Layout Colors
$header-color: lighten(#99504E, 30%);

$footer-color: darken($header-color, 10%);

