/* Hero Styles 
============================= */

#hero {
  background-image: url('img/home-image.jpg');
  background-position: 0 0px, center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding-top: 5px;
  -webkit-filter: sepia(50%) brightness(80%) contrast(70%);
  filter: sepia(50%) brightness(80%) contrast(90%);

  @media (min-width: 640px) {
    background-position: 0 -200px;
  }
}

.hero_content {
  text-align: center;
}

.hero-title {
  font-family: $font-web;
  font-size: 3em;
  
  margin-top: 56px;
  margin-bottom: 16px;

  @media (min-width: 640px) {
    font-size: 6rem;

    margin-top: 96px;
    margin-bottom: 8px;
  }
}

.hero-desc {
  font-family: $font-web;
  
  margin-top: 0;

  @media(min-width: 640px) {
    font-size: 2em
  }
}

