/* Homepage Styles 
============================= */

.main {
  @include background-image(url(img/home-image.jpg));
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 5px;
  -webkit-filter: sepia(50%) brightness(80%) contrast(70%);
  filter: sepia(50%) brightness(80%) contrast(70%);

  @media (min-width: 770px) {
    background-position: 0 -275px;
  }
}

.main__content {
  @include outer-container(90%);
  text-align: center;

  margin-top: em(100px);
  
  h1 {
    font-family: $font-ds, $helvetica;
    
    margin-bottom: 16px;

    @media (min-width: 640px) {
      font-size: em(120px);
    }
  }

  h2 {
    font-family: $font-ds, $helvetica;
    margin-top: 16px;

    @media (min-width: 640px) {
      font-size: em(50px);
    }
  }

  @media (min-width: 640px) {

    margin-top: em(270px);
  }
}