/* Homepage Styles 
============================= */

.hero {
  background-image: url('img/home-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  padding-top: 5px;
  -webkit-filter: sepia(50%) brightness(80%) contrast(70%);
  filter: sepia(50%) brightness(80%) contrast(70%);
}

